body {
  background: #F5F6CE;
}

#shoe-collection {
  width: 1130px;
  height: 140px;
  margin: 60px 100px 40px 100px;
  background-color: white;
  border: solid 2px black;
}

h1 {
  margin-left: 25px;
}
.image {
  margin: 0px 25px;
  float: left;
  height: 120px;
  width: 98px;
  text-align: center;
  z-index: 1;
}

#prize-container {
  width: 1200px;
  margin: 50px 30px;
}

#drag-container { 
  width: 1000px; 
  height: 140px; 
  border: solid 1px black;
  position: relative; 
  float: left;
  background-color: white;
}

.shoes {
  font-weight: bold;
}

#shopping-basket {
  margin-top: 15px;
  float: left;
}